* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 18px;
  color: #2e2f42;
}

/* Loader'ı gizlemek için kullanacağımız yardımcı sınıf */
.is-hidden {
  display: none;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  gap: 8px;
  margin-top: 36px;
  align-items: center;
  justify-content: center;
}

#search-input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 6px;
  outline: none;
  padding-left: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
#search-input:hover {
  border-color: #000000;
}

#search-input:focus {
  border: 1px solid #4E75FF;
}

#search-input::placeholder {
  line-height: 1.5em;
  color: #808080;
  font-weight: 300;
  letter-spacing: 0.04em;

}

.search-container button {
  width: 91px;
  height: 40px;
  
  cursor: pointer;
  background-color: #4E75FF;
  border-radius: 6px;
  border: #4E75FF;

  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: 0.04em;

}

.search-container button:hover {
  background-color: #6C8CFF;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 24px;
    margin: 0 auto;
    max-width: 1134px; 
    list-style: none;
    
}

.gallery-item {
    position: relative;
    width: 360px;
    height: 200px;
    overflow: hidden;
    list-style: none;
    border: 1px solid #808080;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px; 
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 0;
    display: flex;
    gap: 32px;
    font-size: 12px;
    letter-spacing: 0.04em;
    justify-content: center;
    padding-top: 0px;
}

.info b {
  font-weight: 600;
}

.info p {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 7px; 
  margin: 0;
}